body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../android___1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:5px;
    top:5px;
    width:427px;
    height:836px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:427px;
    height:836px;
}

.u1 {
    position:absolute;
    left:2px;
    top:410px;
    width:423px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../android___1_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:39px;
    top:110px;
    width:360px;
    height:25px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:360px;
    height:25px;
}

.u3 {
    position:absolute;
    left:2px;
    top:4px;
    width:356px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../android___files/u17_normal.png');
}

.u5_container {
    position:absolute;
    left:38px;
    top:135px;
    width:360px;
    height:48px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:360px;
    height:48px;
}

.u6 {
    position:absolute;
    left:2px;
    top:16px;
    width:356px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../android___files/u19_normal.png');
}

.u7_container {
    position:absolute;
    left:38px;
    top:110px;
    width:360px;
    height:25px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:360px;
    height:25px;
}

.u8 {
    position:absolute;
    left:2px;
    top:4px;
    width:356px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../我的收藏_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:362px;
    top:140px;
    width:36px;
    height:36px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:36px;
    height:36px;
}

.u11 {
    position:absolute;
    left:2px;
    top:10px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:166px;
    top:146px;
    width:105px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../我的收藏_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:38px;
    top:142px;
    width:32px;
    height:32px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u14 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../剪纸作品_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:43px;
    top:187px;
    width:175px;
    height:215px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:181px;
    height:221px;
}

.u16 {
    position:absolute;
    left:2px;
    top:100px;
    width:171px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../剪纸作品_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:55px;
    top:202px;
    width:148px;
    height:156px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:148px;
    height:156px;
}

.u18 {
    position:absolute;
    left:2px;
    top:70px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:70px;
    top:215px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../剪纸作品_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:140px;
    top:363px;
    width:36px;
    height:36px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:36px;
    height:36px;
}

.u21 {
    position:absolute;
    left:2px;
    top:10px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../剪纸作品_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:174px;
    top:363px;
    width:36px;
    height:36px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:36px;
    height:36px;
}

.u23 {
    position:absolute;
    left:2px;
    top:10px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../剪纸作品_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:112px;
    top:366px;
    width:31px;
    height:31px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:31px;
}

.u25 {
    position:absolute;
    left:2px;
    top:8px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../剪纸作品_files/u15_normal.png');
}

.u27_container {
    position:absolute;
    left:218px;
    top:240px;
    width:175px;
    height:215px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:181px;
    height:221px;
}

.u28 {
    position:absolute;
    left:2px;
    top:100px;
    width:171px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../剪纸作品_files/u17_normal.png');
}

.u29_container {
    position:absolute;
    left:230px;
    top:255px;
    width:148px;
    height:156px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:148px;
    height:156px;
}

.u30 {
    position:absolute;
    left:2px;
    top:70px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:245px;
    top:268px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../剪纸作品_files/u20_normal.png');
}

.u32_container {
    position:absolute;
    left:315px;
    top:416px;
    width:36px;
    height:36px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:36px;
    height:36px;
}

.u33 {
    position:absolute;
    left:2px;
    top:10px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../剪纸作品_files/u22_normal.png');
}

.u34_container {
    position:absolute;
    left:349px;
    top:416px;
    width:36px;
    height:36px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:36px;
    height:36px;
}

.u35 {
    position:absolute;
    left:2px;
    top:10px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../剪纸作品_files/u24_normal.png');
}

.u36_container {
    position:absolute;
    left:287px;
    top:419px;
    width:31px;
    height:31px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:31px;
}

.u37 {
    position:absolute;
    left:2px;
    top:8px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../剪纸作品_files/u15_normal.png');
}

.u39_container {
    position:absolute;
    left:43px;
    top:402px;
    width:175px;
    height:215px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:181px;
    height:221px;
}

.u40 {
    position:absolute;
    left:2px;
    top:100px;
    width:171px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../剪纸作品_files/u17_normal.png');
}

.u41_container {
    position:absolute;
    left:55px;
    top:417px;
    width:148px;
    height:156px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:148px;
    height:156px;
}

.u42 {
    position:absolute;
    left:2px;
    top:70px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:70px;
    top:430px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../剪纸作品_files/u20_normal.png');
}

.u44_container {
    position:absolute;
    left:140px;
    top:578px;
    width:36px;
    height:36px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:36px;
    height:36px;
}

.u45 {
    position:absolute;
    left:2px;
    top:10px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../剪纸作品_files/u22_normal.png');
}

.u46_container {
    position:absolute;
    left:174px;
    top:578px;
    width:36px;
    height:36px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:36px;
    height:36px;
}

.u47 {
    position:absolute;
    left:2px;
    top:10px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../剪纸作品_files/u24_normal.png');
}

.u48_container {
    position:absolute;
    left:112px;
    top:581px;
    width:31px;
    height:31px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:31px;
}

.u49 {
    position:absolute;
    left:2px;
    top:8px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../剪纸作品_files/u15_normal.png');
}

.u51_container {
    position:absolute;
    left:218px;
    top:455px;
    width:175px;
    height:215px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:181px;
    height:221px;
}

.u52 {
    position:absolute;
    left:2px;
    top:100px;
    width:171px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../剪纸作品_files/u17_normal.png');
}

.u53_container {
    position:absolute;
    left:230px;
    top:470px;
    width:148px;
    height:156px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:148px;
    height:156px;
}

.u54 {
    position:absolute;
    left:2px;
    top:70px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:245px;
    top:483px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../剪纸作品_files/u20_normal.png');
}

.u56_container {
    position:absolute;
    left:315px;
    top:631px;
    width:36px;
    height:36px;
}

#u56_img {
    position:absolute;
    left:0px;
    top:0px;
    width:36px;
    height:36px;
}

.u57 {
    position:absolute;
    left:2px;
    top:10px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../剪纸作品_files/u22_normal.png');
}

.u58_container {
    position:absolute;
    left:349px;
    top:631px;
    width:36px;
    height:36px;
}

#u58_img {
    position:absolute;
    left:0px;
    top:0px;
    width:36px;
    height:36px;
}

.u59 {
    position:absolute;
    left:2px;
    top:10px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../剪纸作品_files/u24_normal.png');
}

.u60_container {
    position:absolute;
    left:287px;
    top:634px;
    width:31px;
    height:31px;
}

#u60_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:31px;
}

.u61 {
    position:absolute;
    left:2px;
    top:8px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../我的收藏_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:43px;
    top:617px;
    width:175px;
    height:171px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:181px;
    height:177px;
}

.u64 {
    position:absolute;
    left:2px;
    top:78px;
    width:171px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../我的收藏_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:55px;
    top:632px;
    width:148px;
    height:156px;
}

#u65_img {
    position:absolute;
    left:0px;
    top:0px;
    width:148px;
    height:156px;
}

.u66 {
    position:absolute;
    left:2px;
    top:70px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:70px;
    top:645px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../我的收藏_files/u68_normal.png');
}

.u68_container {
    position:absolute;
    left:38px;
    top:750px;
    width:180px;
    height:38px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:44px;
}

.u69 {
    position:absolute;
    left:2px;
    top:11px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../返回上一页_files/u38_normal.png');
}

.u70_container {
    position:absolute;
    left:38px;
    top:702px;
    width:366px;
    height:48px;
}

#u70_img {
    position:absolute;
    left:0px;
    top:0px;
    width:366px;
    height:48px;
}

.u71 {
    position:absolute;
    left:2px;
    top:16px;
    width:362px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

